@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.EmojiRole-TableHead {
  display: none;
  @include media-breakpoint-up(lg) {
    display: table-header-group;
  }
}
