.deleteButton {
  transition-duration: 200ms;
  transition-property: all;

  &:hover {
    background-color: red;
  }
}

.Workblock {
  &:focus {
    background-color: rgb(69, 69, 75);
  }
}

.icon {
  background-image: linear-gradient(to left, rgba(255 ,255 ,255 ,0.75), rgba(255 ,255 ,255 ,0.75));
  
}