$theme-colors: (
  'aztra': #7f46ca,
  'blurple': #7289da,
  'dark': #373b44,
  'gray': #535863,
  'aztra-dark': #6f3fad,
  'blurple-new': #5865f2,
  'white': #fff,
  'secondary': #6c757d,
  'success': #198754,
  'info': #0dcaf0,
  'warning': #ffc107,
  'danger': #dc3545,
  'light': #fff,
);

$table-variants: (
  'dark': #373b44,
  'table-dark': #343840,
);

$modal-fade-transform: scale(0.95);
$form-select-indicator-color: #fff;
