@import "colors";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.MainIntro {
  height: 100vh;
  .logo {
    max-width: 250px;
  }

  animation: fadein 1.5s;

  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.MainTitle {
  font-size: 27pt;
  word-break: keep-all;
}

.MainSubtitle {
  font-size: 15pt;
}

.MainButton {
  font-family: "NanumSquare";
  font-weight: 900 !important;
  min-width: 180px;
  margin-bottom: 30px;
  font-size: 13pt;
  border: none;
}

.MainFeatures {
  color: white;

  h1 {
    @include media-breakpoint-up(xs) {
      font-size: 19pt;
    }
    @include media-breakpoint-up(sm) {
      font-size: 24pt;
    }

    font-weight: normal;
  }

  p {
    font-size: 13pt;
    font-family: "NanumBarunGothic";
    word-break: keep-all;
    overflow-wrap: keep-all;
  }

  img {
    width: 100%;
  }

  .row {
    padding-bottom: 7rem;
  }
}

.MainFeaturesItem {
  min-height: 900px;
  height: 110vh;
  display: flex;
  align-items: center;
}

.MainFeaturesItemContent {
  text-align: center;
  padding-top: 4rem;

  h1 {
    font-weight: bold;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    width: 45%;
    text-align: left;
  }
}

.MainStatistics {
  color: white;

  .MainStatisticsTitle {
    word-break: keep-all;
    font-family: "NanumSquare";
    font-size: 25px;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }

  .UsingServersTitle {
    font-size: 20px;
    @include media-breakpoint-up(sm) {
      font-size: 24px;
    }
    font-family: 'NanumSquare';
    font-weight: bold;
  }

  .UsingServersCount {
    font-size: 60px;
    @include media-breakpoint-up(sm) {
      font-size: 80px;
    }
    font-family: 'Roboto', 'NanumSquare';
    font-weight: 400;
    line-height: 1.1;
    span {
      font-size: 48px;
    }
  }
}