.Navlink {
    color: whitesmoke !important;
    font-size: 14.5px;
    cursor: pointer;
}

.NavbarDark {
    // background-color: #25282e !important; // 배경색과 일치
    // background-color: #1d1f22 !important; // 딥 블랙
    // background-color: #202225 !important; // 노멀 블랙
    background-color: #363941 !important; // 라이트 블랙
}

.NavbarToggle {
    border: none;
    padding: 0.1rem 0.12rem;
    color: white !important;
}