.Navlink {
    color: whitesmoke !important;
    font-size: 14.5px;
    cursor: pointer;
}

.NavbarDark {
    // background-color: #25282e !important;
    // background-color: #1d1f22 !important;
    background-color: #2e3238 !important;
}

.NavbarToggle {
    border: none;
    padding: 0.1rem 0.12rem;
    color: white !important;
}