@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import '../../colors.scss';

.X-button {
    display: none;
}

.X-button:hover {
    display: block;
}

.X-45 {
    height: 10px;
    width: 1px;

    border: solid $dark;
    border-width: 0 1px 0px 0;
    transform: rotate(45deg);
}

.X-90 {
    height: 10px;
    width: 1px;

    border: solid $dark;
    border-width: 0 1px 0px 0;
    transform: rotate(90deg);
}