@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../colors.scss';

.X-circle {
  .X-button {
    opacity: 0;
  }
}

.X-circle:hover {
  .X-button {
    opacity: 100;
  }
}

.X-45 {
  height: 11px;
  width: 0;

  border: solid $dark;
  border-width: 0 1px 0px 0;
  transform: rotate(45deg);
}

.X-90 {
  height: 11px;
  width: 0;

  border: solid $dark;
  border-width: 0 1px 0px 0;
  transform: rotate(90deg);
}
